**/dist/
**/build/
**/bin/
**/target/
**/nbproject/private/
**/nbproject
**/.idea
**/.settings
**/*.iml
**/.classpath
**/.project
**/build.xml
**/manifest.mf
**/config.txt
**/bridgedb-bots/
**/derby.log
**/lastrun.txt
